
<section>

	<div class="container">
  
		<div class="row justify-content-center">
      
   
			<div class="col-10 col-md-8">
      
        <div class="jelly-card">
        
				  <div class="card py-3">
            @if (valorNo == 1) {  <img class="rounded d-block mx-auto"  style="margin-bottom: 20px;" src="../assets/img/aprendizaje.png" width="75%"  alt="Glassmorphic Image"> }
            @if (valorNo == 2) {  <img class="rounded d-block mx-auto"  style="margin-bottom: 20px;" src="../assets/img/disponibilidad.png" width="75%"  alt="Glassmorphic Image"> }
            @if (valorNo == 3) {  <img class="rounded d-block mx-auto"  style="margin-bottom: 20px;" src="../assets/img/Innovacion.png" width="75%"  alt="Glassmorphic Image"> }
            @if (valorNo == 4) {  <img class="rounded d-block mx-auto"  style="margin-bottom: 20px;" src="../assets/img/Trabajoenequipo.png" width="75%"  alt="Glassmorphic Image"> }
            <div class="text-center">
            @if (valorNo == 1) {
              <div>
           <!--      <h5 class="card-title">Aprendizaje continuo</h5>  --> 
                <div class="greenline"></div>
                
              </div>
            }
            @else if (valorNo == 2) {
              <div>
                <!-- <h5 class="card-title">Disponibilidad</h5> -->
                <div class="blueline"></div>
              </div>
            }
            @else if (valorNo == 3) {
              <div>
              <!--   <h5 class="card-title">Innovación</h5> -->
                <div class="redline"></div>
              </div>
            }
            @else if (valorNo == 4) {
              <div>
               <!--  <h5 class="card-title">Trabajo en equipo</h5> -->
                <div class="line"></div>
              </div>
            }
            <h6 *ngIf="hasStarted && questionNo != 28">Evaluando a <strong>{{myControl.value}}</strong></h6>
            <h6 *ngIf="questionNo == 28">Evaluación a <strong>{{myControl.value}}</strong> completada!</h6>


            
          </div>
               
            <div class="row">
          
           <!--  <div class="col-10 col-md-4 col-lg-3 jelly-bloc text-center text-md-start">
                <img src="https://www.jellypir.at/CODEPEN/picture/autre/fichier4.png" class="card-img-top card-pic slowfloat2s" alt="meduse">
              </div> -->
                <div class="col-12">
               
                <div class="card-body">
                  <div *ngIf=" this.departamentoSelected == undefined"><h3 >Formulario No Válido</h3><p>Por favor acceda a este formulario utilizando un QR válido</p></div>
                  
                  <div id="Intro" *ngIf="!hasStarted && this.departamentoSelected != undefined">
                  <h5 class="card-title">
                    Evaluación de Cultura Cotyssa
                  </h5>
                  <div class="line"></div>
                  <p class="card-text">
                    Con el fin de conocer el estado actual de nuestra cultura Cotyssa se evaluará el
                    comportamiento de cada persona. Debes evaluar a cada integrante de tu equipo siendo tus
                    respuestas honestas y basadas en el comportamiento actual de la persona.
                    ¡Recuerda que la información brindada es totalmente confidencial!!
                 
                  </p>
                     
                 <p>Califica con los siguientes parámetros:</p> 
                 <ul>
                  <li>
                    0 – 3 poco frecuente
                  </li>
                  <li>
                    4 – 8 frecuentemete </li>
                  <li>
                    9 – 10 siempre </li>
                 </ul>               
                 <br />
                   <div class="colorPalette slowfloat3s">
                    <div class="box zero nonPointer">0</div>
                    <div class="box one nonPointer">1</div>
                    <div class="box two nonPointer">2</div>
                    <div class="box three nonPointer">3</div>
                    <div class="box four nonPointer">4</div>
                    <div class="box five nonPointer">5</div>
                    <div class="box six nonPointer">6</div>
                    <div class="box seven nonPointer">7</div>
                    <div class="box eight nonPointer">8</div>
                    <div class="box nine nonPointer">9</div>
                    <div class="box ten nonPointer">10</div>
                   </div>
                   <div class="redline"></div>
                   <mat-form-field class="example-full-width">
                    <mat-label>Elija al colaborador</mat-label>
                    <input type="text"
                           placeholder="Elegir.."
                           aria-label="Number"
                           matInput
                           width="100%"
                           [formControl]="myControl"
                           [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                      @for (option of filteredEmployees; track option) {
                        <mat-option [value]="option.NOMBRE">{{option.NOMBRE}}</mat-option>
                      }
                    </mat-autocomplete>
                  </mat-form-field>

                  </div>

                  <div id="Questions" *ngIf="hasStarted">
                    
          
                    <div *ngFor="let question of questions; let i = index">
                      <div class="question" *ngIf="i == questionNo">
                        <strong class="questionText" *ngIf="question.text != 'Puntos positivos' && question.text != 'Puntos de mejora'">{{question.text}}</strong>
                        <div class="colorPalette mt-4" *ngIf="question.text != 'Puntos positivos' && question.text != 'Puntos de mejora'">
                          <div class="box zero" (click)="setAnswer(i, 0)" [ngClass]="{'selected': question.answer === 0}">0</div>
                          <div class="box one" (click)="setAnswer(i, 1)" [ngClass]="{'selected': question.answer === 1}">1</div>
                          <div class="box two" (click)="setAnswer(i, 2)" [ngClass]="{'selected': question.answer === 2}">2</div>
                          <div class="box three" (click)="setAnswer(i, 3)" [ngClass]="{'selected': question.answer === 3}">3</div>
                          <div class="box four" (click)="setAnswer(i, 4)" [ngClass]="{'selected': question.answer === 4}">4</div>
                          <div class="box five" (click)="setAnswer(i, 5)" [ngClass]="{'selected': question.answer === 5}">5</div>
                          <div class="box six" (click)="setAnswer(i, 6)" [ngClass]="{'selected': question.answer === 6}">6</div>
                          <div class="box seven" (click)="setAnswer(i, 7)" [ngClass]="{'selected': question.answer === 7}">7</div>
                          <div class="box eight" (click)="setAnswer(i, 8)" [ngClass]="{'selected': question.answer === 8}">8</div>
                          <div class="box nine" (click)="setAnswer(i, 9)" [ngClass]="{'selected': question.answer === 9}">9</div>
                          <div class="box ten" (click)="setAnswer(i, 10)" [ngClass]="{'selected': question.answer === 10}">10</div>
                        </div>
                        <button class="float-end" *ngIf="question.text != 'Puntos positivos' && question.text != 'Puntos de mejora'" mat-button [disabled]="!currentQuestionAnswered"  (click)="advanceQuestion()" color="accent">Continuar</button>

                        <mat-form-field *ngIf="question.text == 'Puntos positivos'" class="example-full-width">
                          <mat-label>Describir los puntos positivos del colaborador con respecto al valor</mat-label>
                          <textarea   [formControl]="puntospositivos" matInput placeholder="Anote puntos positivos..."></textarea>
                          <button  mat-button class="float-end" [disabled]="!puntospositivos.valid" (click)="setAnswer(i,98)" color="accent">Continuar</button>
                        </mat-form-field>


                        <mat-form-field *ngIf="question.text == 'Puntos de mejora'" class="example-full-width">
                          <mat-label>Describir los puntos de mejora del colaborador con respecto al valor</mat-label>
                          <textarea    [formControl]="puntosdemejora" matInput placeholder="Anote puntos de mejora..."></textarea>
                          <button mat-button class="float-end" [disabled]="!puntosdemejora.valid"  (click)="setAnswer(i,99)" color="accent">Continuar</button>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div class="mx-auto" [ngClass]="questionNo != 28 ? 'hide' : 'chart-container'">
                    <canvas  id="MyChart" >{{ chart }}</canvas>
                </div>


                  <button *ngIf="questionNo == 28" (click)="save()" class="glass-button mt-2 float-end">Grabar</button>
                
                   <button [disabled]="!myControl.valid" *ngIf="!hasStarted" (click)="start()" [ngClass]="myControl.valid ? 'glass-button mt-2 float-end':'glass-button disabled mt-2 float-end'">Continuar</button>
                </div>
            </div>
            </div>
				</div>
        </div>
      </div>
      
      
		</div>
	</div>
</section>